h1 {
    color: #5D001E;    
}

body {
    background-color: #E3E2DF;
    font-family: 'Montserrat', sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    color: #5D001E;
}

header, footer {
    background-color: #E3AFBC;
}

strong {
    font-weight: 600;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.gridcontainer {
    display: grid;
}

.gridcolumns1-2 {
    grid-template-columns: 1fr;
}
.gridcolumns2-1 {
    grid-template-columns: 2fr 1fr;
}

.gridrows1{
    grid-template-rows: 1fr;
}

.aligncenter {
    align-items: center;
    justify-content: center;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}

.gap40 {
    gap: 40px;
}

.padding8 {
    padding: 8px;
}

.padding16 {
    padding: 16px;
}

.padding24 {
    padding: 24px;
}

li {
    list-style: none;
}

.line_divider {
    border-bottom: solid black 1px;
    width: 100%;
}

@media only screen and (min-width: 600px) {

    .gridcolumns1-2 {
        grid-template-columns: 1fr 2fr;
    }

    .line_divider {
        width: 300%;
    }

    section.gap40{
        gap: 24;
    }

}

@media only screen and (max-width: 599px) {
    nav.flexrow {
        flex-direction: column;
    }
}

