h1 {
color:#2929FF;    
}

body {
background-color:beige;
}

p {
color: #931f1f
}

.nav-area {
    background-color: #931f1f;
    text-align: center;
}

.myname_text {
    font-family: 'Montserrat', sans-serif;
}
